<div id="create-new-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a New Edge</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th></th>
                            <th>To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="create-new-modal-from-name"></td>
                            <td>&rarr;</td>
                            <td id="create-new-modal-to-name"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="create-new-modal-save">Save</button>
                <button type="button" class="btn btn-default" id="create-new-modal-cancel">Cancel</button>
            </div>
        </div>
    </div>
    <script src="/static/js/create-new-edge.js"></script>
</div>
