<div>
    <div class="ruruki-cp-title">
        <div class="container inspector">
            <div class="row title">
                <span class="inspector-title">Control Panel</span>
                <div class="inspector-expander">
                    <span class="glyphicon glyphicon-resize-small"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="ruruki-cp">
        <div class="container inspector">
            <ul class="ruruki-cp-tabs"></ul>
        </div>
    </div>
</div>
